<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mall</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/admin/js/jquery.pagination.min.js"></script>

</head>


<body>
	<div class="breadcrub">
			当前位置：营销/优惠券列表
		</div>
		<div class="pannel">
		<div>
		<div><font color='red'>筛选操作:</font></div><br/>
		<form method='post'>
		优惠券名称:<input type='text' name='name' placeholder='优惠券名称'>
		优惠券类型:<input type='text' name='type' placeholder='优惠券类型'>
		&nbsp;&nbsp;&nbsp;&nbsp;<button type='submit'>提交</button>
		</form>
		</div>
		<br/><br/><br/>
		<div>{% if messages %}
            {% for msg in messages %}
                {{ msg.message }}
            {% endfor %}
        {% endif %}</div>
		</div>
			<table class="common_table">
				<tr>
					<th width="5%">编号</th>
					<th width="10%">优惠券名称</th>
					<th width="10%">优惠券类型</th>
					<th width="10%">可使用商品</th>
					<th width="10%">使用门槛</th>
					<th width="10%">面值</th>
					<th width="10%">适用用平台</th>
					<th width="10%">有效期</th>
					<th width="10%">状态</th>
					<th width="15%">操作</th>
				</tr>
				{% for mes in list1 %}
				<tr>
					<th width="5%">{{mes.id}}</th>
					<th width="10%">{{mes.name}}</th>
					<th width="10%">{{mes.c_type}}</th>
					<th width="10%">指定分类</th>
					<th width="10%">{{mes.menkan}}</th>
					<th width="10%">{{mes.miane}}</th>
					<th width="10%">{{mes.pingtai}}</th>
					<th width="10%">{{mes.starttime}}至{{mes.endtime}}</th>
					<th width="10%">已过期</th>
                    <td width="15%">
					<a href="/sadmin/add_brand?id={{mes.id}}" class="edit">查看</a>
                        <a href="/sadmin/add_brand?id={{mes.id}}" class="edit">编辑</a>
                        <a href="/sadmin/brand_del?id={{mes.id}}" class="delete">删除</a>
                    </td>
				</tr>
				{% endfor %}

				<tr>
					<td colspan="10"><a href="/sadmin/add_coupon" class="addtype">增加优惠券</a></td>
				</tr>
			</table>
		</div>

		<div class="pop_con">
			<div class="pop">
				<form>
					
					<div class="form_group line_top">
						<input type="button" value="确定" class="confirm">&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="button" value="取消" class="cancel">
					</div>
				</form>
				
			</div>
			
		</div>
		<div class="box">
		<form class='form1'>
			每页显示<input class="page_count" value="{{page_count}}" name="page_count"/>条
			<button type='submit'>确定</button>	
			</form>
			<div id="pagination" class="page"></div>
		</div>

        <script>
			$(function() {
				$("#pagination").pagination({
					currentPage: {{current_page}},
					totalPage: {{total_page}},
					callback: function(current) {
						var page_count = $(".page_count").val()
					    window.location.href="/sadmin/brand?page="+current+"&page_count"+page_count
					}
				});
			});
		</script>		



</html>

